<div class="conatiner ">
    <div class="card" style="width: 18rem; margin-top: 82px;">
        <img src="https://media.istockphoto.com/id/1402962380/photo/young-woman-meditates-at-coastal-viewpoint.jpg?s=612x612&w=0&k=20&c=gNtBly25e_ZtCOpMvKpSDNsdzGyUQSMIAF7y9Iln7S8=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Service 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Service 1 subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>