<!-- <ul>
  <li *ngFor="let item of navbarData">
    <a [routerLink]="item.link">{{ item.title }}</a>
    <ul *ngIf="item.subItems">
      <li *ngFor="let subItem of item.subItems">
        <a [routerLink]="subItem.link">{{ subItem.title }}</a>
      </li>
    </ul>
  </li>
</ul> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="">Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let item of navbarData" class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="item.link">{{ item.title }}</a>
          <ul *ngIf="item.subItems">
            <li  class="dropdown" *ngFor="let subItem of item.subItems  ">
              <a class="divClass" class="dropdown-content" [routerLink]="subItem.link">{{ subItem.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li *ngFor="let item of navbarData">
      <a class="dropdown-item" [routerLink]="item.link">{{ item.title }}</a>
      <ul *ngIf="item.subItems">
        <li *ngFor="let subItem of item.subItems">
          <a [routerLink]="subItem.link">{{ subItem.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div> -->

<div style="display: flex; align-items: center; justify-content:center">
  <router-outlet></router-outlet>
</div>
